.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: repeating-linear-gradient(
    0deg,
    var(--sky-blue),
    transparent 100px
  );
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  width: 600px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  position: relative;
}


.modal .input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  text-align: center;
}
.modal .input label {
  font-family: var(--font-unbounded);
}
.modal .input textarea {
  resize: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: larger;
}

.btns {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}
.btns .btn {
  padding: 10px;
}
.blue {
  background: var(--sky-blue);
}
.yellow {
  background: #ab9d17;
}

.hidden {
  display: none;
}
.show{
  display: flex;
}